*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

p{
  color:#420101;
}

a{
  text-decoration: none;
  color:#6f0202;

  transition: 1s ease;
}

a:hover{
  color:rgba(7, 100, 100, 0.7);
}

img{
  width:100%;
}

.about-info, .intro{
  padding:1% 10em; 
}

.portrait{
  width:40%;
  padding:2% 5%;

}

.post-item, .ty {
  padding:0 10%; 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

}


header{
  width:100%;
  padding-top: 10%;
}

nav{
  z-index: 9; 
  height:auto;
  background-image:linear-gradient(to bottom, #68949465, #f8f8f8);
  background-color: #f8f8f8;
  position:fixed;
  top:0;
  width:100%;

  padding:1% 5% 0;

  display:flex;
  flex-direction: row;
  justify-content: space-around;
}


h1, h2, h3, h4{
  color: #6f0202;
}

.listItem{
  display: grid;
  grid-template-columns: auto auto auto auto;
}


.logo{
  width:5em;
}

.firstSection{
  display:flex;
  flex-direction: row;
  padding:0 5% 10%;
}

.abMe{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}


.skills{
  display:grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
}

.mySkills, .shortIntro{
  display: flex;
  flex-direction: column;

  justify-content: center;
  text-align: center;
  width:50%;
  padding:5rem;
}

.skillName{
  background-color: #6f020200;
  width:80%;


  transition: 1s ease;
}

.skillName:hover{
  border-radius: 40px 20px;
}

.projects{
  margin-bottom:10%;
}

footer{
  background-image:linear-gradient(to top, #6894944a, #f8f8f8);
  background-color: #f8f8f8;
}




